body {
    background-color: rgb(53, 54, 58);
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.choice {
    font-size: 8rem;
    background: none;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.choice:hover{
    transform: scale(1.2);
}

.results, 
.result-text {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    color: rgba(255, 255, 255, 1);
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}